# flask.cfg
 
import os
 

 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
DEBUG = True

#platform specific details
VERSION='1.2'

#Platform config
FIELD_MAP_DIR='./fieldmap/'

QUERY_DIR='/queries/'
CUSTOM_DIR='/custom/'

#platform auth token
TOKEN='S5Umpe7q0OXp9SE6mAg36Eu5Zmq27XF9XH0KA5p2'

#APPLIANCE CREDENTIALS
USER='api_user'
PASSWORD='Z3Rskvj5nT0c4hkn'

#salesforce details
SALESFORCE_USERNAME='solomo@fotofab.com.insp'
SALESFORCE_PASSWORD='salesforce2'
SALESFORCE_SECURITY_TOKEN='blWWiTqZKGXQAMfbvG38kdsW'
SALESFORCE_SANDBOX=True

SOLOMO_SF_USERNAME='admin@solomo.io'
SOLOMO_SF_PASSWORD=''
SOLOMO_SF_SECURITY_TOKEN='NO0S6N1L4rv3rWdkeG2WPoVJE'
SOLOMO_SF_SANDBOX=False
SOLOMO_SF_CLIENT_ID='0011N00001KIsWBQA1'
SOLOMO_OWNER_ID='0051N000006L0jAQAS'
SOLOMO_SUPPORT_RTYPE='0121N000001TIk9QAG'